<li class="logic">
	<div class="animation">SMALL RETROID</div>
	<div class="nameauthor">
		<span class="name"><%= logic.name %></span>
		<span class="author"><%= logic.author %></span>
	</div>
	<div class="voter">
		<div class="up">/\</div>
		<div class="score">  </div>
		<div class="down">\/</div>
	</div>
</li>