<li class="logic">
	<div class="animation">SMALL RETROID</div>
	<div class="nameauthor">
		<span class="name"><%= logic.name %></span>
		<span class="author"><%= logic.author %></span>
	</div>
	<div class="voter">
		<a href="javascript:;" class="up">▲</a>
		<div class="score"><%= logic.score || 0 %></div>
		<a href="javascript:;" class="down">▼</a>
	</div>
</li>