#templates {
    display:none; 
}
#editor_holder {
  float:left;
}
#retroid_backbone #editor .function_top {
  vertical-align: top;
}
#retroid_backbone #editor #code_input {
  display:block;
  
  width: 800px;
  max-width:800px;
  height: 400px;
  max-height:400px;
}